<div>
  <div class="d-flex flex-wrap widget-bar__list w-100">
    <div class="widget-bar__settings d-flex">
      <button (click)="addWorkspace.emit()" class="mt-auto mb-auto widget-bar__button mr-2">
        <span class="material-icons">add</span>
      </button>

      <button (click)="removeWorkspace.emit()" class="mt-auto mb-auto widget-bar__button mr-2">
        <span class="material-icons">remove</span>
      </button>

      <button (click)="editMode = !editMode" [class.widget-bar__button_active]="editMode" class="mt-auto mb-auto widget-bar__button">
        <span class="material-icons">{{ editMode ? 'drag_indicator' : 'edit' }}</span>
      </button>
    </div>
  
    <div class="widget-bar__divider mr-3 ml-3"></div>

    <div
      cdkDropList
      #pinnedList="cdkDropList"
      [cdkDropListData]="pinnedWidgetSelectors"
      [cdkDropListConnectedTo]="[widgetList]"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="horizontal"
      [style.min-width]="pinnedWidgetSelectors.length ? 0 : '50px'"
      class="widget-bar__drop-list"
      [attr.data-name]="pinnedSelectorsContainerName"
    >
      <ng-container *ngFor="let widget of pinnedWidgetSelectors; let i = index">
        <button
          *ngIf="!widget.inDashboard"
          cdkDrag
          [cdkDragDisabled]="!editMode"
          (click)="selectBar(widget)"
          (mouseenter)="showWidgetPreview(widget, i, 'loader-1-'+i)"
          (mouseleave)="removeWidgetPreview(widget.id)"
          class="mr-3 widget-bar__item widget-bar__item_light"
        >
          {{ widget.title }}
    
          <div class="widget-bar__widget-preview-container pt-3">
            <div *ngIf="hoveredWidgetIndex === i">
              <ngx-ui-loader [loaderId]="'loader-1-'+i"></ngx-ui-loader>
            </div>
    
            <ng-template #widgetPreview></ng-template>
          </div>
        </button>
      </ng-container>
    </div>
  
    <div class="widget-bar__divider mr-4 ml-2"></div>

    <div
      cdkDropList
      #widgetList="cdkDropList"
      [cdkDropListData]="widgetSelectors"
      [cdkDropListConnectedTo]="[pinnedList]"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="horizontal"
      [style.min-width]="widgetSelectors.length ? 0 : '50px'"
      class="widget-bar__drop-list"
      [attr.data-name]="selectorsContainerName"
    >
      <ng-container *ngFor="let widget of widgetSelectors; let i = index">
        <button
          cdkDrag
          *ngIf="!widget.inDashboard"
          [cdkDragDisabled]="!editMode"
          (click)="selectBar(widget)"
          (mouseenter)="showWidgetPreview(widget, i, 'loader-2-'+i)"
          (mouseleave)="removeWidgetPreview(widget.id)"
          class="mr-3 flex-shrink-0 widget-bar__item widget-bar__item_dark"
        >
          {{ widget.title }}

          <div class="widget-bar__widget-preview-container pt-3">
            <div *ngIf="hoveredWidgetIndex === i">
              <ngx-ui-loader [loaderId]="'loader-2-'+i"></ngx-ui-loader>
            </div>

            <ng-template #widgetPreview></ng-template>
          </div>
        </button>
      </ng-container>
    </div>

    <div class="widget-bar__divider mr-4 ml-2"></div>

    <div
      cdkDropList
      #widgetList="cdkDropList"
      [cdkDropListData]="widgetSelectors"
      [cdkDropListConnectedTo]="[pinnedList]"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="horizontal"
      [style.min-width]="widgetSelectors.length ? 0 : '50px'"
      class="widget-bar__drop-list"
    >
      <ng-container *ngFor="let workspace of workspaceSvc.workspaces; let i = index">
        <button
          cdkDrag
          [cdkDragDisabled]="!editMode"
          (click)="touchWorkspace(workspace, i)"
          class="mr-3 flex-shrink-0 widget-bar__item widget-bar__item_dark"
          [class.widget-bar__item_light]="i === workspaceSvc.activeIndex"
        >
          {{ workspace.title }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
