<div class="d-flex flex-column h-100">
  <app-header
    [columnId]="workspace?.column.id"
    (addWorkspace)="addWorkspace()"
    (removeWorkspace)="removeWorkspace()"
    (selectWorkspace)="selectWorkspace($event)"
    (selectChart)="selectChart($event)">
  </app-header>

  <div class="d-flex mt-3 mb-3 w-100 h-100">
      <app-dashboard
        #columnContainer
        [column]="workspace.column"
        [columnData]="columnDataset"
        (selectWidget)="increaseWidgetZindex($event)"
        class="h-100 w-100 dashboard-column mr-3"
      >
      </app-dashboard>
  </div>
</div>
